.Header {
  font-size: 14px;
}

.LogoContainer {
  max-height: 100px;
  vertical-align: middle;
	padding: 20px ;
}

.LogoTitle {
}

.LogoImage {
  img {
    max-height: 100%;
  }
}

// Font : 1. Gluten 2. Caveat 
